body {
    background-color: #e9b85d;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: #5116be;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
  }
  
  p {
    color: #555555;
    font-size: 18px;
  }
  

